    <%- include('header') %>
    
      <h1 class="title col-lg-12">RURAL ROADS</h1>
      <div class="inner-content about">
        <p>Rural Roads é uma banda de Hard Rock/Metal de Porto Alegre/RS. Atualmente conta com os seguintes integrantes:</p>         
        <img class="atual-image" src="images/biografia/6.jpg" class="img-fluid" alt="Responsive image">
        <p>Guilherme "Formiga" Anacleto - Guitarra e Backing Vocal (fundador)<br />
           Douglas "Bu" Hrymalak - Baixo e Backing Vocal (desde 2010)<br />
           Giancarlo Cabrera - Vocal (desde 2013)<br />
           Will Guimarães - Guitarra e Backing Vocal (desde 2013)<br /></p>
      </div>
      <h1 class="title col-lg-12">BIOGRAFIA</h1>
      <div class="inner-content about">
        <h2 class="title col-lg-12"></h2>
        <p>Fundada por Formiga e Papão em 4 de outubro de 2009, no extremo sul de Porto Alegre (uma área rural que acabou sendo a influência para o nome), com o intuito de participar de um evento local, o Festival de Bandas Belendrinas (FBB). Depois de aproximadamente um mês procurando membros, fica formada por:</p>         
        <img class="bio-image" src="images/biografia/0.jpg" class="img-fluid" alt="Responsive image">
        <p>Irwin Almeida - Vocal<br />
        Guilherme "Formiga" Anacleto - Guitarra<br />
        Bruno “Jet” Cunha - Baixo<br />
        Bruno "Papão" Freitas - Bateria<br /></p>

        <p>Uma semana após a formação (e com apenas um ensaio completo), ocorre o debute no FBB. Decidindo continuar após o festival, Gabryel Corrêa entra como segundo guitarrista e, a partir daí, o grupo passa a participar de festivais na cidade e na região metropolitana. </p>
        <img class="bio-image" src="images/biografia/1.jpg" class="img-fluid" alt="Responsive image">

        <p>Com seis meses de banda, Jet decide sair, sendo substituído por Bu. </p>
        <img class="bio-image" src="images/biografia/2.jpg" class="img-fluid" alt="Responsive image">

        <p>Após dois anos, Irwin deixa a banda por diferença de interesses. Inicia-se então um período de testes onde alguns vocalistas participam do grupo, mas acabam não permanecendo por muito tempo - e, durante esse processo, o guitarrista Gabryel opta por sair.</p>
        <p>A banda então entra em um período de hiato e resolve continuar os testes, encontrando Giancarlo para assumir os vocais no início de 2013. Nessa época, o foco é então direcionado às composições próprias, as quais mesclam diversos elementos clássicos e modernos do rock e metal.</p>
        <img class="bio-image" src="images/biografia/3.jpg" class="img-fluid" alt="Responsive image">

        <p>Will completa o time de guitarras em meados do mesmo ano, intensificando o processo de composição.</p>
        <p>Entre 2013 e 2015 acontecem vários shows e participações em festivais, bem como a gravação de uma demo em 2014 produzida pelos próprios integrantes. </p>
        <img class="bio-image" src="images/biografia/4.jpg" class="img-fluid" alt="Responsive image">

        <p>Papão decide deixar a banda em 2015, e Mauricio Bittencourt assume o posto de baterista. Com ele, o primeiro álbum é gravado, sob produção de Sebastian Carsin no Estúdio Hurricane, contendo músicas inéditas bem como reformulações das composições da demo de 2014.</p>
        <img class="bio-image" src="images/biografia/5.jpg" class="img-fluid" alt="Responsive image">

        <p>Em 31 de outubro de 2018, lança seu primeiro single acompanhado de um lyric video, "Ride", como prévia de seu primeiro álbum. O álbum completo é posteriormente lançado em diversas plataformas de música digital, em 29 de novembro de 2018, apresentando "Ride" e outras 12 faixas originais.</p>

        <img class="atual-image" src="images/biografia/7.jpg" class="img-fluid" alt="Responsive image">
      </div>

    <%- include('footer') %>