    <%- include('header') %>
    
    <div class="row ">
      <h1 class="title col-lg-12">SOBRE A BANDA</h1>
      <div class="inner-content about">
        <h2 class="title col-lg-12">RURAL ROADS</h2>
        <p>Rural Roads é uma banda de Hard Rock/Metal de Porto Alegre/RS. Formada em 2009, atualmente conta com os seguintes integrantes:</p>         
        <p>Guilherme "Formiga" Anacleto (fundador)<br />
           Douglas "Bu" Hrymalak von Saltiel (desde 2010)<br />
           Giancarlo "Gian" Cabrera Silva (desde 2013)<br />
           William "Will" Guimarães (desde 2013)<br /></p>
        <img class="bio-image" src="images/atual.jpg" class="img-fluid" alt="Responsive image">
        <p>Atualmente, a banda está em processo de seleção para um novo baterista e em processo de finalização de seu primeiro álbum, [INSIRA NOME ÁLBUM], co-produzido por Sebastian Carsin e gravado no estúdio Hurricane. [NOME ÁLBUM] tem previsão de lançamento para o final de 2018.</p>
      </div>
      <div class="inner-content about">
        <h2 class="title col-lg-12">BIOGRAFIA</h2>
        <p>Iniciada por Formiga e Papão em 4 de outubro de 2009, no extremo sul de Porto Alegre (daí o nome "Rural"), apenas com o intuito de participar do segundo Festival de Bandas Belendrinas. Após um mês de procura por membros, a banda ficou formada por:</p> 
        <p>Formiga - Guitarra<br />Irwin - Vocal<br />Jet - Baixo<br />Papão - Bateria</p>
        <p>Com uma semana desde a formação, e com apenas um ensaio completo, a banda participa do FBB. Decidindo continuar após o festival, Gabryel se somou na guitarra e a partir daí aconteceram algumas participações em festivais. Após seis meses de banda, Jet decidiu sair, sendo substituído por Bu. Após dois anos com a banda, Irwin, o primeiro vocalista, decide sair da banda por diferença de interesses. Alguns testes depois, Matheus se junta à banda durante dois meses e, após isso, deixa a banda junto de Gabryel, por motivos profissionais.</p>
        <img class="bio-image" src="images/antiga.jpg" class="img-fluid" alt="Responsive image">
        <p>A banda fica em hiato e resolve fazer novos testes, encontrando Gian para assumir os vocais e completando o time de guitarras com Will, em 2013. O foco é, então, direcionado às composições próprias, as quais mesclam diversos elementos clássicos e modernos do rock pesado. A banda segue participando de festivais independentes e procurando criar o seu som, autêntico, direto e pesado, sem se deixar levar por modismos.</p>
      </div>
    </div>

    <%- include('footer') %>