<%- include('header') %>

    <h1 class="title col-lg-12">CONTATO</h1>

    <div class="inner-content about">
        <p style="color:white">Entre em contato conosco através do email:</p>
        <a href="mailto:ruralroadsband@gmail.com">
            <p>ruralroadsband@gmail.com</p>
        </a>
        <br />
        <p style="color:white">Ou preencha o formulario:</p>
        <form>
            <div class="row">
                <label for="name" style="color:white" class="col-lg-2 col-sm-12">Nome:</label>
                <input type="email" class="form-control col-lg-6 col-sm-12" id="name" aria-describedby="emailHelp" >
            </div>
            <div class="row" style="margin-top:10px;">
                <label for="telephone" style="color:white" class="col-lg-2 col-sm-12"> Telefone:</label>
                <input type="email" class="form-control col-lg-6 col-sm-12" id="telephone" aria-describedby="emailHelp">
            </div>

            <div class="row" style="margin-top:10px;">
                <label for="email" style="color:white" class="col-lg-2 col-sm-12">Email:</label>
                <input type="email" class="form-control col-lg-6 col-sm-12" id="email" aria-describedby="emailHelp" >
            </div>
            <div class="row" style="margin-top:10px;">
                <label for="message" style="color:white" class="col-lg-2 col-sm-12">Mensagem:</label>
            </div>           
            <div class="row" >
                <textarea class="form-control col-12" id="message" rows="3"></textarea>
            </div>
            <div class="row" style="margin-top:10px;">
                <button type="button" style="margin-right:10px;" class="btn btn-outline-warning">Enviar</button>
                <button type="button" class="btn btn-outline-secondary">Limpar</button>
            </div>


        </form>
    </div>


<%- include('footer') %>
