<%- include('header') %>

<h1 class="title col-lg-12">OPS...</h1>
<div class="inner-content about">

    <p><%- locals.message %></p>

    <p><%- locals.error %></p>

</div>

<%- include('footer') %>
