    <%- include('header') %>
    
    <div class="row">
      <h1 class="title col-lg-12">LANÇAMENTO RIDE</h1>
      <div class="embed-responsive embed-responsive-16by9 col-md-9 col-lg-6 mx-auto">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h1 class="title col-lg-12">OUÇA EM</h1>
        <div class="row">
          <div class="col-2"></div>
          <a href="https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB" class="col-2 " target="_blank">
            <img class="social-bar" src="images/spotify.svg"  alt="Spotify" >
          </a><!-- /.col-lg-4 -->
          <a href="https://itunes.apple.com/us/artist/metallica/3996865" class="col-2 " target="_blank">
            <img class="social-bar" src="images/itunes.svg"  alt="Apple Music" >
          </a><!-- /.col-lg-4 -->
          <a href="https://play.google.com/store/music/artist/Metallica?id=Asofl5rpj6oa6kxnwsb5oqnpasi&hl" class="col-2 " target="_blank">
            <img class=" social-bar" src="images/google-music.svg"  alt="Apple Music" >
          </a><!-- /.col-lg-4 -->
          <a href="https://www.deezer.com/br/artist/119" class="col-2 " target="_blank">
            <img class=" social-bar" style="max-width: 60px;" src="images/deezer.svg"  alt="Apple Music" >
          </a><!-- /.col-lg-4 -->
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="title col-lg-12">SIGA-NOS</h1>
        <div class="row">
          <div class="col-2"></div>
          <a href="https://youtube.com/bandaruralroads" class="col-2 " target="_blank">
            <img class="social-bar" src="images/youtube.svg"  alt="Facebook" >
          </a><!-- /.col-2 -->
          <a href="https://facebook.com/BandaRuralRoads" class="col-2 "  target="_blank">
            <img class=" social-bar" src="images/facebook.svg"  alt="Facebook" >
          </a><!-- /.col-2 -->
          <a href="https://instagram.com/ruralroadsband" class="col-2 " target="_blank">
            <img class=" social-bar" src="images/instagram.svg"  alt="Instagram" >
          </a><!-- /.col-2 -->
          <a href="https://twitter.com/BandaRuralRoads" class="col-2 " target="_blank">
            <img class=" social-bar" src="images/twitter.svg"  alt="Twitter" >
          </a><!-- /.col-lg-3 -->
          <div class="col-2"></div>
        </div>
      </div>
    </div>

    <%- include('footer') %>