    <%- include('header') %>
    
    <div class="row">
      <h1 class="title col-lg-12">CANAIS DE COMUNICAÇÃO</h1>
      <div class="col-lg-4">
        <a href="https://facebook.com/BandaRuralRoads"  target="_blank">
          <img class="mx-auto d-block social-bar" src="images/facebook.svg"  alt="Facebook" >
        </a><!-- /.col-lg-4 -->
      </div>
      <a href="https://instagram.com/ruralroadsband" class="col-lg-4 " target="_blank">
        <img class="mx-auto d-block social-bar" src="images/instagram.svg"  alt="Instagram" >
      </a><!-- /.col-lg-4 -->
      <a href="https://twitter.com/BandaRuralRoads" class="col-lg-4 " target="_blank">
        <img class="mx-auto d-block social-bar" src="images/twitter.svg"  alt="Twitter" >
      </a><!-- /.col-lg-4 -->
    </div>
    <div class="row">
      <h1 class="title col-lg-12">MULTIMÍDIA</h1>
      <a href="https://youtube.com/bandaruralroads" class="col-lg-4 " target="_blank">
        <img class="mx-auto d-block social-bar" src="images/youtube.svg"  alt="Facebook" >
      </a><!-- /.col-lg-4 -->
      <a href="https://soundcloud.com/ruralroads" class="col-lg-4 " target="_blank">
        <img class="mx-auto d-block social-bar" src="images/soundcloud.svg"  alt="Youtube" >
      </a><!-- /.col-lg-4 -->
      <a href="http://palcomp3.com/ruralroads" class="col-lg-4 " target="_blank">
        <img class="mx-auto d-block social-bar" src="images/palcomp3.png"  alt="Twitter" >
      </a><!-- /.col-lg-4 -->
    </div>

    <div id="about" class="container about">

      <h4>RURAL ROADS</h4>
       
      <p>A Rural Roads é um banda de Hard Rock/Heavy Metal de Porto Alegre/RS e toca desde clássicos antigos até clássicos modernos, bem como músicas próprias.</p>         
      <p><b> Formação atual: </b></p>
      <p>"Gian" Cabrera - Vocal<br />
      Guilherme "Formiga" - Guitarra e backing vocal<br />
      "Will" Guimarães - Guitarra<br />
      Douglas "Bu" - Baixo<br />
      Mauricio "Zappa" - Bateria</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget urna nibh. Etiam scelerisque nisl lacus, molestie dictum enim laoreet non. Phasellus ac elit ultricies, vehicula quam vel, posuere lorem. Nulla mattis massa odio, eu efficitur sapien egestas at. Etiam a ligula eu felis hendrerit feugiat nec in mi. Phasellus gravida risus et tellus aliquet pulvinar. Suspendisse sapien ante, rhoncus ac eros in, imperdiet vestibulum nunc. Integer nulla felis, tincidunt nec purus nec, consectetur tempor ligula. Donec eleifend maximus vehicula. Duis in turpis massa. Aliquam pretium consequat tellus a tincidunt. Vivamus eget turpis non tortor laoreet dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean ex orci, rhoncus ac aliquam sit amet, fringilla at felis. Phasellus eu tristique quam.</p>

      <h4>BIOGRAFIA</h4>

      <p>Iniciada por Formiga e Papão em 4 de outubro de 2009, no extremo sul de Porto Alegre (daí o nome "Rural"), apenas com o intuito de participar do segundo Festival de Bandas Belendrinas. Após um mês de procura por membros, a banda ficou formada por:</p> 
      <p>Formiga - Guitarra<br />Irwin - Vocal<br />Jet - Baixo<br />Papão - Bateria</p>
      <p>Com uma semana desde a formação, e com apenas um ensaio completo, a banda participa do FBB. Decidindo continuar após o festival, Gabryel se somou na guitarra e a partir daí aconteceram algumas participações em festivais. Após seis meses de banda, Jet decidiu sair, sendo substituído por Bu. Após dois anos com a banda, Irwin, o primeiro vocalista, decide sair da banda por diferença de interesses. Alguns testes depois, Matheus se junta à banda durante dois meses e, após isso, deixa a banda junto de Gabryel, por motivos profissionais.</p>
      <p>A banda fica em hiato e resolve fazer novos testes, encontrando Gian para assumir os vocais e completando o time de guitarras com Will, em 2013. O foco é, então, direcionado às composições próprias, as quais mesclam diversos elementos clássicos e modernos do rock pesado. A banda segue participando de festivais independentes e procurando criar o seu som, autêntico, direto e pesado, sem se deixar levar por modismos.</p>

    </div>

    <%- include('footer') %>