<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">FOTOS</h1>

    <div class="col-md-4 thumbnail-top-bottom">
        <img class="img-thumbnail img-fluid" src="https://uc728235baf194f939ad6693e627.previews.dropboxusercontent.com/p/thumb/AAMBtUJUNSyjV4rtjUAYlqpEsVefMzL76MCWnCK-phUKrntgFlproK3Evc5AUR0ARr6HcsOhZH7DhRrXyOhXgk6AeieEQ9o9PxfkfAWIYmN0Ow2i-ZKA6sd0YxfYyMklG8YK3HjoqySOuBx2br7fUcm5slkhw-yWMUu2_Q-xKFWierwaxzDKv7M1q4LihMRJGV5tOiEKOATJ6c_TD0fa_1k6CPcKlLZMfwaBvQjtRjDXew/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(1)" class="hover-shadow">
        <p style="color:white">King Kong Festival</p>
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="https://uc9aaec2a094513f1b9d8f29769f.previews.dropboxusercontent.com/p/thumb/AAMuQGnONusupIMSwg1oP5H0VzMoL8SiwiJGapRKWcp3D31bc4uW24sbOut1ABfAlogalwJIji9m_gjUSxnabRS-p_V3urUKlXg1AasgPrtlHGxhlhPiwb_TE6iRUM1N6zT9s4h9lfaAvSOTs6_Wr7Y-KuL46Yvjw3JD4IuqoxRIaXfLSPFMp_5iEuTGUMc75-LVtSL3ZtMfq4kbewVGPy8p7-LS3sgvzTcY2V3rG46MidyXr7pwdB44fNFiFzsRSyt78HBYbm0iGVLKmQx__KXtL9tvpiEojkepg_-Bv8dQgA/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(2)" class="hover-shadow">
      <p style="color:white">São Léo Metal Fest</p>
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="https://uc1936bf686bf30ea2b2cbd37e94.previews.dropboxusercontent.com/p/thumb/AANeRd3HZ19yr1Hn6CT3pOmXHB1nmh6sUYsNryN4cTZ072W0GJjBr7tlGn6CDrHfQRQzlRzDx44ldOJaMydHYDP5ltaJs_ai4kz5Nk9gRh6_JNQe4BVnz46rKjJrx-ZoediCJ4BMlAYj7rqwHO0eUNiF5tDQji02mNv9SXTdl0FLW70OXZPxVJulL3tJI76hMZjNhXg1G4gV2vLYpMphElFpEeuLZdEqllVi3puv2d1bIA/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(3)" class="hover-shadow">
      <p style="color:white">Arte do álbum</p>
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="https://uc9e4a7bd8e2359ff7cc0c059a03.previews.dropboxusercontent.com/p/thumb/AAN55wLfD3mI0vwh_eUCoTrh1sLXxj9L7_0SqlhxfJOZ5YHsecaCErkYI4KAHLYnSvZ7pnwDx_RhcK8agN2r472VxWk-Eiq0-oCPF5LXMW5eLfkP2G7KKJ6RltrHhLYKOsr9SSl789dzixziNOHj1QRJB_hd6wsbX-weDVfnbHb4rSlNdHdE0ZRRbwIdDLMDNQy0DjXQiCnJSb-cGvPpJgQUSN9Gc-l17kbIkUVH5SPlGw/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(4)" class="hover-shadow">
      <p style="color:white">King Kong Festival</p>
    </div>
  
</div>

<%- include('footer') %>
