<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">FOTOS</h1>

    <div class="col-md-4 thumbnail-top-bottom">
        <img class="img-thumbnail img-fluid" src="https://uca41c33da4903e501c3aeb1c3d4.previews.dropboxusercontent.com/p/thumb/AAMWx6e679kYnOhbeGdCcxb9pBHO0LbL8XEgKl1nSgVGwvCI0rc9_lz3h682DzyOf6Dv8UEySaeBgXT8gdBgQLn07I6kJJVBb9DsifHr3ckRF387uNy141JztawB6OCA10pzD1ezprHXG0twStZvz1GXzSD6ovSh6gbfDLPGtTTM06KG64AQGp9T0aVDir0yhT3AX-TQ6O5QMB_Aq4p_kf96QfFR--W_kyGWU_qzsq5B7riSrc_SwTPzsY1cBHS2fCtpBeL-pzxg71hpvJwf2N8EloRtu5-HVsosq0pSfobCcg/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(1)" class="hover-shadow">
        <p style="color:white">King Kong Festival</p>
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="https://uc1101a685373284fa571bac004d.previews.dropboxusercontent.com/p/thumb/AANQvS_SiN3AB6tCilU96uo47BDdHqTAc2rLrGL2L7faWWx9IQ_0963zqhJckrq4J7vxSYt6akkdB_ON90CslGdPnbCv7sLkmbmyq-kBvo8dqw1q2izfevL7gZaSsJXx8fsSIsD0aJ0-c2qxB1eTKF6tAu4ilv3SVGHGw2h7xLCRLDi5wUM1VpVOjbXVBbEw-QF9lEGOM9iy0EJfKleIYxaKeqZQL-K1PRGAnPzZnzjCKg/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(2)" class="hover-shadow">
      <p style="color:white">São Léo Metal Fest</p>
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="https://uc91e2e7bc651467fc45c2fc7abe.previews.dropboxusercontent.com/p/thumb/AAPpyAFtG8lUbUo0smVoPIuPh-E34Ax0xUCA-L2VkVyz6n89MjvxatlDKplnRVvdwAIhFk-fyYYuTVVS0gNyL5tBUmYy8IrzFpHs0L93yX2k8CDJ-2RjPRL3cGjvL7RHBDsWRIknE_0rgWzL7BP05c2WqQ4DNXd9Vl6GaIB_dfHN1WDmpoBreey4EzX1Uj_YGV8Wbr7WAU4nJ2uXlHpucxVylWXmAiexA6CHHcvDnO_nqg/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(3)" class="hover-shadow">
      <p style="color:white">Arte do álbum</p>
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="https://uc639b846db98c044809bb06c0ab.previews.dropboxusercontent.com/p/thumb/AAPGuOhopBcPdvZ-CxzydcNocGT0SO4QhbvWJUNYyth4zZPKLRyvVg6emSpUuiUtG3Cb_hgaoDzV5nGTiFABiQZKwGufR1xpuufdkFWYdd5hYUxpGtqnBJVvIJogDobshVO2c1_FPKeQHRw4vjV_mKHRQYCWLzhIKn_UWUjJcPDrMrX-rfnr5_TjvSbjdzhc0JtzH0YFXskM5G_YWmvova8kQJ6pppMSOy3u_h1qwcy07A/p.jpeg?size=2048x1536&size_mode=3" onclick="openModal();currentSlide(4)" class="hover-shadow">
      <p style="color:white">King Kong Festival</p>
    </div>
  
</div>

<%- include('footer') %>
