<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">FOTOS</h1>

    <div class="col-md-4 thumbnail-top-bottom">
        <img class="img-thumbnail img-fluid" src="https://images.freeimages.com/images/large-previews/940/ostrich-masai-mara-kenya-1365799.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail" src="https://images.freeimages.com/images/large-previews/9a8/tropical-jungle-1392216.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail" src="https://images.freeimages.com/images/large-previews/ae1/mistforest-1557472.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
    </div>
    <div class="col-md-4 thumbnail-top-bottom">
      <img class="img-thumbnail" src="https://images.freeimages.com/images/large-previews/0b3/africa-5-1569704.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
    </div>
  
</div>

<%- include('footer') %>
