<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">FOTOS</h1>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3  thumbnail-top-bottom">
        <img class="img-thumbnail img-fluid" src="/images/photos/x1-edited.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
        <p style="color:white">King Kong Festival</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3  thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="/images/photos/x2-edited.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
      <p style="color:white">São Léo Metal Fest</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3  thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="/images/photos/x3-edited.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
      <p style="color:white">Arte do álbum</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3  thumbnail-top-bottom">
      <img class="img-thumbnail img-fluid" src="/images/photos/x4-edited.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
      <p style="color:white">King Kong Festival</p>
    </div>
  
</div>

<%- include('footer') %>
