<%- include('header') %>

<div class="row">
    <h1 class="title col-xs-12"><%= __('menu.videos') %></h1>

    <div class="col-xs-12 margin-15 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/67y6g61OaaM" allowfullscreen></iframe>
    </div>

    <div class="col-xs-12 margin-15 mt-50 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NPbG0mfpLa0" allowfullscreen></iframe>
    </div>

</div>

<%- include('footer') %>
