<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">VÍDEOS</h1>

    <div class="col-12 col-md-6" style="padding: 15px">
        <!-- <h4 class="pb-4">YouTube Iframe</h4> -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg?enablejsapi=1&amp;origin=https%3A%2F%2Fmdbootstrap.com" allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="301650531" data-gtm-yt-inspected-2340190_908="true"></iframe>
        </div>
    </div>

    <div class="col-12 col-md-6" style="padding: 15px">
        <!-- <h4 class="pb-4">YouTube Iframe</h4> -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg?enablejsapi=1&amp;origin=https%3A%2F%2Fmdbootstrap.com" allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="301650531" data-gtm-yt-inspected-2340190_908="true"></iframe>
        </div>
    </div>

</div>

<%- include('footer') %>
