<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">VÍDEOS</h1>

    <div class="col-lg-12 margin-15 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/67y6g61OaaM" allowfullscreen></iframe>
    </div>
    
    <!-- <div class="col-lg-5 margin-15 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>
    </div> -->

</div>

<%- include('footer') %>
