@font-face {
    font-family: SprayMeFont;
    src: url(rural_logo_spray.ttf);
}

@font-face {
    font-family: GunPlay;
    src: url(gunplay\ rg.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    padding-top: 74px;
    font-family: monospace;
    font-size: larger;
}

@media screen and (max-width: 720px) {
    body {
        background: url("/images/back-mob.jpg")  no-repeat center center fixed; ;
        padding-top: 74px;
        background-size: cover;
    }
}

nav {
    background-color:rgba(232,175,16, 1);
}

a {
    color: rgba(232,175,16, 1);
}

.container.main {
    margin-bottom: 100px;
}

.inner-content {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.title {
    color: white;
    text-align: center;
    font-family: SprayMeFont;
}

.navbar-brand {
    font-size: xx-large;
}

h1.title {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: GunPlay;
}

a.nav-link {
    font-family: GunPlay;
}

.social-bar {
    height: 60px;
}

.logo {
    height: 40px;
    width:40px;
}

.main {
    padding-bottom: 5rem;
}

.about {
    max-width: 600px;
    /* padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto; */
}

.invalid-feedback {
    color: rgba(232,175,16, 1);
}
.was-validated .form-control:invalid {
    border-color: rgba(232,175,16, 1);
}

.about>p, .about>h4 {
    color: white;
}

.about>h4 {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>div>div>div>span {
    color: white;
}

footer>div>div>div>span, footer>div>div>div>a {
    font-size: small;
}

.margin-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.thumbnail-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fix-deezer {
    max-width: 60px;
}

.bio-image {
    margin-bottom: 30px; 
    max-width: 300px;
}

.atual-image {
    margin-bottom: 30px; 
    max-width: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}