@font-face {
    font-family: SprayMeFont;
    src: url(rural_logo_spray.ttf);
}

@font-face {
    font-family: GunPlay;
    src: url(gunplay\ rg.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("/images/IMG_0574.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 74px;
}

nav {
    background-color:rgba(52,58,64, 0.9);
}

.container.main {
    margin-bottom: 100px;
}

.title {
    color: white;
    text-align: center;
    font-family: SprayMeFont;
}

.navbar-brand {
    font-size: xx-large;
}

h1.title {
    padding: 3rem;
    font-family: GunPlay;
}

.social-bar {
    height: 60px;
}

.logo {
    width: 200px;
    height: 200px;
}

.main {
    padding-bottom: 5rem;
}

.about>p, .about>h4 {
    color: white;
}

.about>h4 {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>div>div>div>span {
    color: white;
}

footer>div>div>div>span, footer>div>div>div>a {
    font-size: small;
}

.margin-15 {
    margin: 15px;
}

.thumbnail-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

