@font-face {
    font-family: SprayMeFont;
    src: url(rural_logo_spray.ttf);
}

@font-face {
    font-family: GunPlay;
    src: url(gunplay\ rg.ttf);
}

body {
    background-color: #222222;
}

.title {
    color: white;
    text-align: center;
    font-family: SprayMeFont;
}

.navbar-brand {
    font-size: xx-large;
}

h1.title  {
    padding: 3rem;
    font-family: GunPlay;
}

.social-bar {
	height: 160px;
}

.logo {
	width: 200px;
	height: 200px;
}

.main {
	padding-bottom: 5rem;
}

.about > p,
.about > h4 { 
	color: white;
}

.about > h4 { 
	text-align: center;
}

footer {
    margin-top: 100px;
}

footer > div > span,
footer > div > a {
    color: white;
}